<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363186425461-mv2ujch9g70jgn0okd15epmpcal5pngo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363186425461-mv2ujch9g70jgn0okd15epmpcal5pngo</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Mo0VJIb-akxQ2c66FQo8InJxqjQGsmc</string>
	<key>GCM_SENDER_ID</key>
	<string>363186425461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arturkorol.Authentication</string>
	<key>PROJECT_ID</key>
	<string>authentication-c7167</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-c7167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363186425461:ios:45383edcc0f31865c2323c</string>
</dict>
</plist>